<footer class="footer">
  <div class="container">
    <div class="footer__holder">
      <div class="row">
        <div class="col-md-5 col-xl-7">
          <div class="row">
            <div class="col-xl-4 mb-4 mb-xl-0">
              <div class="footer__logo">
                <span class="icon-logo"></span>
              </div>
              <div class="footer__contract">
                <span>© 2014-2019</span>
                <div class="mb-4">
                  Конференция по заработку для вебмастеров, арбитражников и рекламодателей
                </div>
                <div><a href="##">Политика конфиденциальности</a></div>
                <div><a href="##">Условия оплаты</a></div>
                <div><a href="##">Договор оферты</a></div>
              </div>
            </div>
            <div class="col-xl-4 text-xl-center mb-4 mb-xl-0">
              <span class="icon-binet"></span>
            </div>
            <div class="col-xl-4">
              <div class="footer__money">
                <div class="mb-4 mb-4 mb-xl-0">
                  <span class="icon-card"></span>
                </div>
                <div class="mb-3">
                  <div class="">
                    <img src="img/wm.jpg" alt="">
                  </div>
                  <a href="##">Подробнее</a>
                </div>
                <div class="mb-3">
                  <div class="">
                    <img src="img/wm2.jpg" alt="">
                  </div>
                  <a href="##">Проверить аттестат</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-xl-5">
          <div class="row">
            <div class="col-md-6 mb-4 mb-xl-0">
              <ul class="footer__email pt-2">
                <li>
                  <b>ПОДДЕРЖКА</b>
                  <a href="mailto:support@kinza.pro">support@kinza.pro</a>
                </li>
                <li>
                  <b>отдел продаж</b>
                  <a href="mailto:head.sales@kinza.pro">head.sales@kinza.pro</a>
                  <span>+7 (495) 266-69-72</span>
                </li>
                <li>
                  <b>Партнерам</b>
                  <a href="mailto:partners@kinza.pro">partners@kinza.pro</a>
                  <span>+7 (951) 193-04-04</span>
                </li>
                <li>
                  <b>спикерам</b>
                  <a href="mailto:speakers@kinza.pro">speakers@kinza.pro</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="footer__tag">
                <div class="row no-gutters">
                  <div class="col-auto d-md-none d-lg-block">
                    <div class="footer__tag-ico">18+</div>
                  </div>
                  <div class="col pl-3 pl-md-0 pl-lg-3">
                    <span>Оффициальный тег:</span>
                    <a href="##"># Кинза2020</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="social social_vertical">
        <ul>
          <li><a href="##"><span class="icon-fb"></span></a></li>
          <li><a href="##"><span class="icon-vk"></span></a></li>
          <li><a href="##"><span class="icon-ig"></span></a></li>
          <li><a href="##"><span class="icon-tw"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
