<header class="header">
  <div class="container">
    <div class="row justify-content-md-end">
      <div class="col-auto d-md-none">
        <a href="#sidr" id="ham-menu" class="ham-trigger">&nbsp;</a>
      </div>
      <div class="col-auto d-none d-md-block">
        <a href="##" class="header__phone">+7 (495) <span>266-69-72</span></a>
        <a href="##" class="header__reg" data-toggle="modal" data-target="#regmodal">Регистрация</a>
        <a href="##" class="header__account" data-toggle="modal" data-target="#loginmodal">Войти</a>
      </div>
    </div>
  </div>
</header>
