@import "part/vars";
@import "part/mixins";
@import "part/icons";

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProRegular.eot');
  src: url('../fonts/GothamProRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamProRegular.woff') format('woff'),
  url('../fonts/GothamProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProMedium.eot');
  src: url('../fonts/GothamProMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamProMedium.woff') format('woff'),
  url('../fonts/GothamProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProBold.eot');
  src: url('../fonts/GothamProBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamProBold.woff') format('woff'),
  url('../fonts/GothamProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProLight.eot');
  src: url('../fonts/GothamProLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamProLight.woff') format('woff'),
  url('../fonts/GothamProLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamProBlack.eot');
  src: url('../fonts/GothamProBlack.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamProBlack.woff') format('woff'),
  url('../fonts/GothamProBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
  font: 24px/30px "GothamPro", sans-serif;
	color: #adadad;
  background: #141414;
}
body,
html {
	padding: 0;
	height: 100%;
}
a {
	&:hover {
		text-decoration: none;
		color: #3cd5d5;
	}
}
b {

}
p {
	margin-bottom: 15px;
}
h1,
.h1 {

}
h2,
.h2 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  @include bp($md) {
    font-size: 36px;
    margin-bottom: 50px;
  }
  @include bp($xl) {
    font-size: 60px;
    margin-bottom: 100px;
  }
  span {
    color: $c-red;
  }
}
button {
	cursor: pointer;
}
::placeholder {
  opacity: 1 !important;
  color: #5b5b5b !important;
}
.btn {
  background: $c-red;
  font-size: 16px;
  font-weight: 900;
  border-radius: 0;
  color: #fff;
  letter-spacing: .075em;
  text-transform: uppercase;
  padding: 20px 70px;
  &:hover {
    color: #fff;
    background: #ff3030;
  }
  &:focus {
    box-shadow: none;
  }
  @include bp($md) {
    font-size: 22px;
  }
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}
.custom-checkbox .custom-control-label {
  position: relative;
  padding-left: 38px;
  cursor: pointer;
  font-size: 11px;
  line-height: 14px;
  font-weight: 300;
  a {
    border-bottom: 1px solid rgba(153, 153, 153, .7);
    color: #adadad;
  }
  &:focus {
    outline: none;
  }
}
.custom-checkbox .custom-control-label:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: #353535;
  left: 0;
  top: -2px;
  border-radius: 0;
}
.custom-checkbox .custom-control-label::after {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0;
  transition: all .3s ease;
  background: url('../img/sprite.png') -9999px -9999px no-repeat;
  @include set-sprite($check);
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background: #353535;
}
.custom-control-input:active~.custom-control-label::before {
  background: #353535;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
  opacity: 1;
}
.wrap {
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  @include bp($md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.header {
  padding: 30px 0;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  @include bp($md) {
    padding: 60px 0;
  }
  &__control {
    display: none;
    @include bp($md) {
      display: block;
    }
  }
  &__reg,
  &__account {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid rgba(153, 153, 153, .7);
    line-height: 12px;
    &:focus,
    &:hover {
      color: #f0f0f0;
      outline: none;
    }
  }
  &__reg {
    color: #919191;
    margin-left: 35px;
  }
  &__account {
    color: #f0f0f0;
    margin-left: 25px;
  }
  &__phone {
    color: #919191;
    span {
      color: #f0f0f0;
    }
    &:focus,
    &:hover {
      color: #f0f0f0;
      outline: none;
    }
  }
}
.ham-trigger {
  width: 33px;
  height: 23px;
  display: block;
  z-index: 999;
  position: relative;
  @include bp($md) {
    display: none;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  &:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
  }
  &_close {
    margin: 15px 10px 10px;
    position: relative;
    left: 10px;
    top: 15px;
    &:before {
      border-bottom: none;
      height: 2px;
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
.ham-menu {
  ul {
    list-style: none;
    padding: 40px 25px;
    li {
      margin-bottom: 20px;
      font: bold 18px "GothamPro", sans-serif;
    }
  }
  &__reg,
  &__account {
    border-bottom: 1px solid rgba(153, 153, 153, .7);
    line-height: 12px;
    &:focus,
    &:hover {
      color: #f0f0f0;
      outline: none;
    }
  }
  &__reg {
    color: #919191;
  }
  &__account {
    color: #f0f0f0;
  }
  &__phone {
    color: #919191;
    span {
      color: #f0f0f0;
    }
    &:focus,
    &:hover {
      color: #f0f0f0;
      outline: none;
    }
  }
}
.sidr {
  background: #141414;
}
.preface {
  //height: 100vh;
  //min-height: 100vh;
  overflow: hidden;
  margin-top: -147px;
  padding: 150px 0 60px;
  background-size: cover;
  background-position: center  0;
  text-align: center;
  position: relative;
  @include bp($md) {
    padding: 150px 0;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 300px;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 100%);
  }
  &:after {
    content: '';
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 100%);
  }
  &__light {
    position: absolute;
    left: 0;
    top: 0;
    width: 403px;
    height: 970px;
    background: url(../img/preface/light.png) no-repeat;
    z-index: 1;
  }
  &__holder {
    text-align: left;
    position: relative;
    z-index: 3;
    display: inline-block;
    vertical-align: top;
  }
  &__pretitle {
    font-weight: bold;
    color: #fff;
    margin-bottom: 35px;
    @include bp($md) {
      margin-bottom: 65px;
    }
    b {
      padding-right: 25px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      font-size: 24px;
      line-height: 24px;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 10px;
        bottom: 5px;
        width: 2px;
        background: #fff;
      }
      @include bp($md) {
        font-size: 37px;
        line-height: 37px;
        padding-right: 35px;
      }
    }
    span {
      display: inline-block;
      vertical-align: bottom;
      padding-left: 10px;
      padding-bottom: 5px;
      font-size: 15px;
      @include bp($md) {
        font-size: 24px;
        padding-left: 20px;
        padding-bottom: 0;
      }
    }
  }
  &__title {
    margin-bottom: 40px;
    @include bp($xl) {
      margin-bottom: 60px;
    }
    img {
      max-width: 100%;
    }
  }
  &__description {
    margin-bottom: 40px;
    @include bp($xl) {
      margin-bottom: 100px;
    }
    color: #fff;
    b {
      font-size: 37px;
      line-height: 37px;
      @include bp($md) {
        font-size: 60px;
        line-height: 60px;
      }
    }
    span {
      font-weight: 300;
      position: relative;
      font-size: 14px;
      line-height: 12px;
      padding-top: 5px;
      @include bp($md) {
        font-size: 23px;
        line-height: 26px;
      }
      @include bp($xl) {
        padding-right: 100px !important;
        max-width: 640px;
        margin-right: 20px;
        &:before {
          content: '';
          position: absolute;
          width: 70px;
          height: 2px;
          background: #fff;
          right: 0;
          top: 17px;
        }
      }

    }
    ul {
      padding-left: 0;
      list-style: none;
      text-align: center;
      @include bp($xl) {
        text-align: left;
      }
      li {
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        margin: 0 2px;
        text-transform: uppercase;
        padding-top: 7px;
        font-size: 11px;
        @include bp($md) {
          font-size: 18px;
          margin: 0 5px;
        }
        @include bp($md) {
          margin: 0 10px;
        }
      }
    }
  }
  &__reg {
    text-align: center;
    &-holder {
      @include bp($md) {
        display: inline-block;
        vertical-align: top;
        max-width: 680px;
      }
    }
    p {
      margin-bottom: 70px;
      color: #fff;
      line-height: 30px;
      display: none;
      @include bp($md) {
        display: block;
      }
    }
    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      @include bp($md) {
        width: auto;
        padding: 20px 70px;
      }
    }
  }
}
.features {
  @include bp($md) {
    padding-top: 50px;
  }
  h2 {
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-weight: normal;
    @include bp($md) {
      font-size: 30px;
      margin-bottom: 60px;
    }
    span {
      color: $c-red;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 35px;
    }
    &-item {
      background: #1f1f1f;
      padding: 30px 20px;
      height: 100%;
      text-align: center;
      box-shadow: 10px 10px 61px 5px rgba(0,0,0,0.75);
      @include bp($md) {
        text-align: left;
        padding: 40px 50px;
        min-height: 230px;
      }
      @include bp($xl) {
        padding: 0 70px;
      }
      b {
        font-weight: 900;
        font-size: 48px;
        line-height: 35px;
        color: #fff;
        @include bp($md) {
          font-size: 70px;
          line-height: 70px;
        }
        @include bp($xl) {
          font-size: 100px;
          line-height: 100px;
        }
      }
      span {
        color: $c-red;
        font-size: 14px;

        @include bp($md) {
          font-size: 30px;
        }
      }
      p {
        font-weight: 300;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 18px;
        @include bp($md) {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
  @include bp($xl) {
    &__list li:first-of-type &__list-item {
      background: #1f1f1f url(../img/features/1.jpg) no-repeat center bottom;
    }
    &__list li:nth-of-type(2) &__list-item {
      background: #1f1f1f url(../img/features/2.jpg) no-repeat right center;
    }
    &__list li:nth-of-type(3) &__list-item {
      background: #1f1f1f url(../img/features/3.jpg) no-repeat left center;
    }
    &__list li:last-of-type &__list-item {
      background: #1f1f1f url(../img/features/4.jpg) no-repeat center top;
    }
  }
}
.dating {
  padding: 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #212121 0%, rgba(20, 20, 20, 1) 100%);
  }
  @include bp($md) {
    padding: 40px 0 0;
  }
  @include bp($xl) {
    padding: 80px 0 0;
  }
  &__text {
    list-style: none;
    padding-left: 0;
    margin-bottom: 55px;
    li {
      font-weight: 300;
      font-size: 16px;
      @include bp($md) {
        font-size: 24px;
      }
      @include bp($lg) {
        padding-right: 40px;
      }
      span {
        font-weight: 500;
        color: #fff;
      }
    }
  }
  &__slider {
    position: relative;
    overflow: hidden;
  }
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}
.slider {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  @include bp($md) {
    margin-bottom: 60px;
  }
  &__holder {
    margin-bottom: 0;
    padding: 70px 0 80px;
    @include bp($sm) {
      padding: 90px 0 100px;
    }
    @include bp($md) {
      padding: 100px 0 130px;
    }
    @include bp($xl) {
      padding: 170px 0;
    }
  }
  &__item {
    min-height: 130px !important;
    box-shadow: 10px 10px 61px 5px rgba(0,0,0,0.75);
    @include bp($sm) {
      min-height: 170px !important;
    }
    @include bp($md) {
      min-height: 230px !important;
    }
    @include bp($xl) {
      min-height: 320px !important;
    }
    background-size: cover;
    background-position: center center;
  }
  &__nav {
    button {
      position: absolute;
      bottom: 30px;
      border: none;
      background: transparent;
      cursor: pointer;
      @include bp($sm) {
        bottom: 30px;
      }
      @include bp($md) {
        bottom: 17px;
        & .icon-arrow {
          @include set-sprite($arrow);
        }
      }
      @include bp($xl) {
        bottom: 160px;
      }
      &:hover .icon-arrow {
        @include set-sprite($arrow-small-hover);
        @include bp($md) {
          @include set-sprite($arrow-hover);
        }
      }
      &:focus {
        outline: none;
      }
      &.prev {
        margin-left: -25%;
        left: calc(50% - 70px);
        @include bp($sm) {
          left: calc(50% - 110px);
        }
        @include bp($md) {
          left: calc(50% - 125px);
        }
        @include bp($lg) {
          left: calc(50% - 35px);
        }
        @include bp($xl) {
          left: calc(50% - 90px);
        }
      }
      &.next {
        margin-right: -25%;
        right: calc(50% - 75px);
        @include bp($sm) {
          right: calc(50% - 110px);
        }
        @include bp($md) {
          right: calc(50% - 125px);
        }
        @include bp($lg) {
          right: calc(50% - 35px);
        }
        @include bp($xl) {
          right: calc(50% - 95px);
        }
        span {
          transform: rotate(180deg);
        }
      }
    }
  }
  & .slick-slide {
    margin: 0 15px;
    @include bp($md) {
      margin: 0 25px;
    }
    @include bp($lg) {
      margin: 0 30px;
    }
  }
  & .slick-list {
    overflow: visible !important;
    padding: 0 !important;
    margin: 0 -200px !important;
    @include bp($lg) {
      margin: 0 -30px !important;
    }
  }
  & .slick-dots {
    list-style: none;
    padding-left: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    li {
      display: inline-block;
      vertical-align: top;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #3b3b3b;
      transition: background .3s;
      margin: 0 5px;
      cursor: pointer;
      @include bp($md) {
        width: 16px;
        height: 16px;
        margin: 0 12px;
      }
      button {
        display: none;
      }
      &.slick-active {
        background: #fff;
      }
    }
  }
  & .slick-slide {
    transform: scale(.7);
    transition: .3s ease-in-out all;
    @include bp($sm) {
      transform: scale(.6);
    }
    @include bp($xl) {
      transform: scale(.5);
    }
  }
  & .slick-slide.slick-center {
    transform: scale(1.4);
    z-index: 999;
    position: relative;
    @include bp($sm) {
      transform: scale(1.5);
    }
    @include bp($xl) {
      transform: scale(1.6);
    }
  }
}

.afterparty {
  position: relative;
  padding: 50px 0 0;
  overflow: hidden;
  margin-bottom: -40px;
  @include bp($md) {
    padding: 100px 0 0;
  }
  &:before {
    content: '';
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(180deg, #111111 0%, rgba(20, 20, 20, 0) 100%);
  }
  h2 {
    margin-bottom: 0;
  }
  &__img {
    text-align: center;
    margin-bottom: 20px;
    img {
      max-width: 1022px;
      width: 100%;
    }
  }
  &__description {
    margin-bottom: 30px;
    @include bp($md) {
      margin-bottom: 85px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    &-holder {
      background: #1f1f1f;
      padding: 35px 25px;
      box-shadow: 10px 10px 61px 5px rgba(0,0,0,0.75);
      @include bp($md) {
        padding: 70px;
      }
      @include bp($lg) {
        padding: 70px 90px;
      }
      b {
        font-weight: bold;
        color: #fff;
        font-size: 18px;
        margin-bottom: 15px;
        display: block;
        @include bp($md) {
          font-size: 30px;
          margin-bottom: 0;
        }
        @include bp($lg) {
          padding-right: 50px;
        }
      }
      p {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 18px;
        @include bp($md) {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 30px;
        }
      }
    }
  }
  &__cards {
    padding-top: 85px;
    @media (max-width: 767px) {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    &-holder {
      margin-bottom: 115px;
      @include bp($md) {
        margin-bottom: 170px;
      }
    }
    &-item {
      box-shadow: 10px 10px 61px 5px rgba(0,0,0,0.75);
      text-align: center;
      padding: 0 30px 30px;
      height: 100%;
      background: #1f1f1f;
      @include bp($md) {
        padding: 0 80px 70px;
      }
      b {
        font-weight: bold;
        color: #fff;
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
        @include bp($md) {
          font-size: 30px;
          margin-bottom: 30px;
        }
      }
      p {
        text-align: left;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 18px;
        @include bp($md) {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
    &-img {
      margin-top: -85px;
      display: inline-block;
      box-shadow: 10px 10px 61px 5px rgba(0,0,0,0.75);
      margin-bottom: 30px;
      @include bp($md) {
        margin-bottom: 60px;
      }
      img {
        max-width: 100%;
      }

    }
  }
}
.reviews {
  position: relative;
  padding-bottom: 100px;
  h2 {
    margin-bottom: 30px;
    @include bp($md) {
      margin-bottom: 60px;
    }
  }
  &:before {
    content: '';
    position: absolute;
    height: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #212121 0%, rgba(20, 20, 20, 0) 100%);
    z-index: -1;
  }
  &__img {
    text-align: center;
    margin-bottom: 110px;
    display: none;
    @include bp(1024px) {
      display: block;
    }
    img {
      max-width: 1489px;
      width: 100%;
    }
  }
  &__add {
    text-align: center;
    &-holder {
      display: inline-block;
      vertical-align: top;
      max-width: 1200px;
      text-align: left;
    }
    b {
      font-size: 18px;
      line-height: 24px;
      @include bp($md) {
        font-size: 24px;
        line-height: 28px;
      }
      @include bp($lg) {
        font-size: 30px;
        line-height: 36px;
      }
      span {
        color: $c-red;
      }
    }
    & .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      @include bp($md) {
        width: auto;
        padding: 20px 70px;
      }
    }
  }
  &__slider {
    display: block;
    position: relative;
    padding: 0 30px;
    margin-bottom: 30px;
    @include bp($md) {
      padding: 0 40px;
    }
    @include bp(1024px) {
      display: none;
    }
    img {
      width: auto !important;
      max-width: 100%;
    }
    & .slick-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }
  &__nav {
    button {
      position: absolute;
      bottom: 0;
      top: 0;
      margin: auto 0;
      border: none;
      background: transparent;
      cursor: pointer;
      @include bp($md) {
        & .icon-arrow {
          @include set-sprite($arrow);
        }
      }
      &:hover .icon-arrow {
        @include set-sprite($arrow-small-hover);
        @include bp($md) {
          @include set-sprite($arrow-hover);
        }
      }
      &:focus {
        outline: none;
      }
      &.prev {
        left: -10px;
        @include bp($md) {
          left: -35px;
        }
      }
      &.next {
        right: -10px;
        @include bp($md) {
          right: -35px;
        }
        span {
          transform: rotate(180deg);
        }
      }
    }
  }
}
.video {
  position: relative;
  z-index: 1;
  padding: 40px 0 30px;
  @include bp($md) {
    padding: 100px 0 80px;
  }
  @include bp($xl) {
    padding: 140px 0 100px;
  }
  &:before {
    content: '';
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(180deg, #111111 0%, rgba(20, 20, 20, 0) 100%);
  }
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
  &__holder {
    text-align: center;
    position: relative;
    img {
      max-width: 100%;
    }
  }
}
.moments {
  padding: 30px 0 10px;
  position: relative;
  overflow: hidden;
  @include bp($md) {
    padding: 50px 0 30px;
  }
  &:before {
    content: '';
    position: absolute;
    height: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #212121 0%, rgba(20, 20, 20, 0) 100%);
    z-index: -1;
  }
  &_after {
    padding: 50px 0 10px;
    @include bp($md) {
      padding: 100px 0 30px;
    }
    &:after {
      content: '';
      position: absolute;
      height: 200px;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      background: linear-gradient(180deg, #111111 0%, rgba(20, 20, 20, 0) 100%);
    }
  }
  h2 {
    margin-bottom: -20px;
    @include bp($md) {
      margin-bottom: 20px;
    }
  }
}
.registration {
  padding: 50px 0 10px;
  position: relative;
  @include bp($md) {
    padding: 100px 0 30px;
  }
  &:after {
    content: '';
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(180deg, #111111 0%, rgba(20, 20, 20, 0) 100%);
  }
  h2 {
    margin-bottom: 30px;
    @include bp($md) {
      margin-bottom: 70px;
    }
  }
  &__features {
    list-style: none;
    padding-left: 0;
    li {
      font-weight: 500;
      color: #fff;
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 30px;
      @include bp($md) {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 60px;
      }
      & .icon-leaf {
        @include bp($md) {
          @include set-sprite($leaf);
        }
      }
    }
  }
  &__form {
    text-align: center;
    margin: 0 -22px;
    @include bp($sm) {
      margin: 0;
    }
    &-holder {
      display: inline-block;
      max-width: 450px;
      text-align: left;
    }
  }
}
.reg-form {
  background: #1f1f1f;
  padding: 35px 20px 55px;
  box-shadow: 10px 10px 61px 5px rgba(0,0,0,0.75);
  @include bp($sm) {
    padding: 35px 50px 55px;
  }
}
.social {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 30px;
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline-block;
      vertical-align: top;
      margin-left: 20px;
    }
  }
}
.form-control {
  padding: 0;
  background: transparent;
  border-radius: 0;
  border: none;
  margin-bottom: 7px;
  position: relative;
  &.required {
    &:after {
      content: '*';
      font-size: 16px;
      color: #e06c5a;
      position: absolute;
      right: -10px;
      top: 3px;
      line-height: 15px;
    }
  }
  input {
    width: 100%;
    line-height: 50px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    &:focus {
      outline: none;
    }
    @include bp($sm) {
      line-height: 62px;
    }
  }
}
.phone-pick {
  position: relative;
  font-size: 18px;
  & .form-control input {
    padding-left: 40px !important;
  }
  &:before {
    content: '+7';
    position: absolute;
    font-weight: 300;
    left: 15px;
    top: 12px;
    display: block;
    font-size: 16px;
    color: #5b5b5b;
    z-index: 2;
    @include bp($sm) {
      top: 18px;
    }
  }
}
.nav-tabs {
  border-bottom: none;
  z-index: 2;
  li {
    text-align: center;
    a {
      line-height: 60px;
      font-size: 14px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      padding: 0 30px;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      background: #0d0d0d;
      &.active {
        background: #1f1f1f;
      }
      @include bp($sm) {
        font-size: 18px;
        line-height: 70px;
        padding: 0 55px;
      }
    }
  }
}
.tab-content {
  position: relative;
  z-index: -1;
}
.footer {

}
