// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-hover-name: 'arrow-hover';
$arrow-hover-x: 56px;
$arrow-hover-y: 88px;
$arrow-hover-offset-x: -56px;
$arrow-hover-offset-y: -88px;
$arrow-hover-width: 55px;
$arrow-hover-height: 38px;
$arrow-hover-total-width: 223px;
$arrow-hover-total-height: 166px;
$arrow-hover-image: '/img/sprite.png';
$arrow-hover: (56px, 88px, -56px, -88px, 55px, 38px, 223px, 166px, '/img/sprite.png', 'arrow-hover', );
$arrow-small-hover-name: 'arrow-small-hover';
$arrow-small-hover-x: 184px;
$arrow-small-hover-y: 64px;
$arrow-small-hover-offset-x: -184px;
$arrow-small-hover-offset-y: -64px;
$arrow-small-hover-width: 22px;
$arrow-small-hover-height: 16px;
$arrow-small-hover-total-width: 223px;
$arrow-small-hover-total-height: 166px;
$arrow-small-hover-image: '/img/sprite.png';
$arrow-small-hover: (184px, 64px, -184px, -64px, 22px, 16px, 223px, 166px, '/img/sprite.png', 'arrow-small-hover', );
$arrow-small-name: 'arrow-small';
$arrow-small-x: 85px;
$arrow-small-y: 142px;
$arrow-small-offset-x: -85px;
$arrow-small-offset-y: -142px;
$arrow-small-width: 22px;
$arrow-small-height: 16px;
$arrow-small-total-width: 223px;
$arrow-small-total-height: 166px;
$arrow-small-image: '/img/sprite.png';
$arrow-small: (85px, 142px, -85px, -142px, 22px, 16px, 223px, 166px, '/img/sprite.png', 'arrow-small', );
$arrow-name: 'arrow';
$arrow-x: 116px;
$arrow-y: 88px;
$arrow-offset-x: -116px;
$arrow-offset-y: -88px;
$arrow-width: 55px;
$arrow-height: 38px;
$arrow-total-width: 223px;
$arrow-total-height: 166px;
$arrow-image: '/img/sprite.png';
$arrow: (116px, 88px, -116px, -88px, 55px, 38px, 223px, 166px, '/img/sprite.png', 'arrow', );
$binet-name: 'binet';
$binet-x: 0px;
$binet-y: 64px;
$binet-offset-x: 0px;
$binet-offset-y: -64px;
$binet-width: 150px;
$binet-height: 19px;
$binet-total-width: 223px;
$binet-total-height: 166px;
$binet-image: '/img/sprite.png';
$binet: (0px, 64px, 0px, -64px, 150px, 19px, 223px, 166px, '/img/sprite.png', 'binet', );
$card-name: 'card';
$card-x: 0px;
$card-y: 30px;
$card-offset-x: 0px;
$card-offset-y: -30px;
$card-width: 173px;
$card-height: 29px;
$card-total-width: 223px;
$card-total-height: 166px;
$card-image: '/img/sprite.png';
$card: (0px, 30px, 0px, -30px, 173px, 29px, 223px, 166px, '/img/sprite.png', 'card', );
$check-name: 'check';
$check-x: 209px;
$check-y: 30px;
$check-offset-x: -209px;
$check-offset-y: -30px;
$check-width: 14px;
$check-height: 11px;
$check-total-width: 223px;
$check-total-height: 166px;
$check-image: '/img/sprite.png';
$check: (209px, 30px, -209px, -30px, 14px, 11px, 223px, 166px, '/img/sprite.png', 'check', );
$fb-name: 'fb';
$fb-x: 57px;
$fb-y: 142px;
$fb-offset-x: -57px;
$fb-offset-y: -142px;
$fb-width: 23px;
$fb-height: 23px;
$fb-total-width: 223px;
$fb-total-height: 166px;
$fb-image: '/img/sprite.png';
$fb: (57px, 142px, -57px, -142px, 23px, 23px, 223px, 166px, '/img/sprite.png', 'fb', );
$google-name: 'google';
$google-x: 178px;
$google-y: 30px;
$google-offset-x: -178px;
$google-offset-y: -30px;
$google-width: 26px;
$google-height: 26px;
$google-total-width: 223px;
$google-total-height: 166px;
$google-image: '/img/sprite.png';
$google: (178px, 30px, -178px, -30px, 26px, 26px, 223px, 166px, '/img/sprite.png', 'google', );
$ig-name: 'ig';
$ig-x: 29px;
$ig-y: 142px;
$ig-offset-x: -29px;
$ig-offset-y: -142px;
$ig-width: 23px;
$ig-height: 23px;
$ig-total-width: 223px;
$ig-total-height: 166px;
$ig-image: '/img/sprite.png';
$ig: (29px, 142px, -29px, -142px, 23px, 23px, 223px, 166px, '/img/sprite.png', 'ig', );
$leaf-small-name: 'leaf-small';
$leaf-small-x: 176px;
$leaf-small-y: 88px;
$leaf-small-offset-x: -176px;
$leaf-small-offset-y: -88px;
$leaf-small-width: 33px;
$leaf-small-height: 32px;
$leaf-small-total-width: 223px;
$leaf-small-total-height: 166px;
$leaf-small-image: '/img/sprite.png';
$leaf-small: (176px, 88px, -176px, -88px, 33px, 32px, 223px, 166px, '/img/sprite.png', 'leaf-small', );
$leaf-name: 'leaf';
$leaf-x: 0px;
$leaf-y: 88px;
$leaf-offset-x: 0px;
$leaf-offset-y: -88px;
$leaf-width: 51px;
$leaf-height: 49px;
$leaf-total-width: 223px;
$leaf-total-height: 166px;
$leaf-image: '/img/sprite.png';
$leaf: (0px, 88px, 0px, -88px, 51px, 49px, 223px, 166px, '/img/sprite.png', 'leaf', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 223px;
$logo-height: 25px;
$logo-total-width: 223px;
$logo-total-height: 166px;
$logo-image: '/img/sprite.png';
$logo: (0px, 0px, 0px, 0px, 223px, 25px, 223px, 166px, '/img/sprite.png', 'logo', );
$tw-name: 'tw';
$tw-x: 155px;
$tw-y: 64px;
$tw-offset-x: -155px;
$tw-offset-y: -64px;
$tw-width: 24px;
$tw-height: 19px;
$tw-total-width: 223px;
$tw-total-height: 166px;
$tw-image: '/img/sprite.png';
$tw: (155px, 64px, -155px, -64px, 24px, 19px, 223px, 166px, '/img/sprite.png', 'tw', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 142px;
$vk-offset-x: 0px;
$vk-offset-y: -142px;
$vk-width: 24px;
$vk-height: 24px;
$vk-total-width: 223px;
$vk-total-height: 166px;
$vk-image: '/img/sprite.png';
$vk: (0px, 142px, 0px, -142px, 24px, 24px, 223px, 166px, '/img/sprite.png', 'vk', );
$arrow-hover-2x-name: 'arrow-hover@2x';
$arrow-hover-2x-x: 112px;
$arrow-hover-2x-y: 176px;
$arrow-hover-2x-offset-x: -112px;
$arrow-hover-2x-offset-y: -176px;
$arrow-hover-2x-width: 110px;
$arrow-hover-2x-height: 76px;
$arrow-hover-2x-total-width: 446px;
$arrow-hover-2x-total-height: 332px;
$arrow-hover-2x-image: '/img/sprite@2x.png';
$arrow-hover-2x: (112px, 176px, -112px, -176px, 110px, 76px, 446px, 332px, '/img/sprite@2x.png', 'arrow-hover@2x', );
$arrow-small-hover-2x-name: 'arrow-small-hover@2x';
$arrow-small-hover-2x-x: 368px;
$arrow-small-hover-2x-y: 128px;
$arrow-small-hover-2x-offset-x: -368px;
$arrow-small-hover-2x-offset-y: -128px;
$arrow-small-hover-2x-width: 44px;
$arrow-small-hover-2x-height: 32px;
$arrow-small-hover-2x-total-width: 446px;
$arrow-small-hover-2x-total-height: 332px;
$arrow-small-hover-2x-image: '/img/sprite@2x.png';
$arrow-small-hover-2x: (368px, 128px, -368px, -128px, 44px, 32px, 446px, 332px, '/img/sprite@2x.png', 'arrow-small-hover@2x', );
$arrow-small-2x-name: 'arrow-small@2x';
$arrow-small-2x-x: 170px;
$arrow-small-2x-y: 284px;
$arrow-small-2x-offset-x: -170px;
$arrow-small-2x-offset-y: -284px;
$arrow-small-2x-width: 44px;
$arrow-small-2x-height: 32px;
$arrow-small-2x-total-width: 446px;
$arrow-small-2x-total-height: 332px;
$arrow-small-2x-image: '/img/sprite@2x.png';
$arrow-small-2x: (170px, 284px, -170px, -284px, 44px, 32px, 446px, 332px, '/img/sprite@2x.png', 'arrow-small@2x', );
$arrow-2x-name: 'arrow@2x';
$arrow-2x-x: 232px;
$arrow-2x-y: 176px;
$arrow-2x-offset-x: -232px;
$arrow-2x-offset-y: -176px;
$arrow-2x-width: 110px;
$arrow-2x-height: 76px;
$arrow-2x-total-width: 446px;
$arrow-2x-total-height: 332px;
$arrow-2x-image: '/img/sprite@2x.png';
$arrow-2x: (232px, 176px, -232px, -176px, 110px, 76px, 446px, 332px, '/img/sprite@2x.png', 'arrow@2x', );
$binet-2x-name: 'binet@2x';
$binet-2x-x: 0px;
$binet-2x-y: 128px;
$binet-2x-offset-x: 0px;
$binet-2x-offset-y: -128px;
$binet-2x-width: 300px;
$binet-2x-height: 38px;
$binet-2x-total-width: 446px;
$binet-2x-total-height: 332px;
$binet-2x-image: '/img/sprite@2x.png';
$binet-2x: (0px, 128px, 0px, -128px, 300px, 38px, 446px, 332px, '/img/sprite@2x.png', 'binet@2x', );
$card-2x-name: 'card@2x';
$card-2x-x: 0px;
$card-2x-y: 60px;
$card-2x-offset-x: 0px;
$card-2x-offset-y: -60px;
$card-2x-width: 346px;
$card-2x-height: 58px;
$card-2x-total-width: 446px;
$card-2x-total-height: 332px;
$card-2x-image: '/img/sprite@2x.png';
$card-2x: (0px, 60px, 0px, -60px, 346px, 58px, 446px, 332px, '/img/sprite@2x.png', 'card@2x', );
$check-2x-name: 'check@2x';
$check-2x-x: 418px;
$check-2x-y: 60px;
$check-2x-offset-x: -418px;
$check-2x-offset-y: -60px;
$check-2x-width: 28px;
$check-2x-height: 22px;
$check-2x-total-width: 446px;
$check-2x-total-height: 332px;
$check-2x-image: '/img/sprite@2x.png';
$check-2x: (418px, 60px, -418px, -60px, 28px, 22px, 446px, 332px, '/img/sprite@2x.png', 'check@2x', );
$fb-2x-name: 'fb@2x';
$fb-2x-x: 114px;
$fb-2x-y: 284px;
$fb-2x-offset-x: -114px;
$fb-2x-offset-y: -284px;
$fb-2x-width: 46px;
$fb-2x-height: 46px;
$fb-2x-total-width: 446px;
$fb-2x-total-height: 332px;
$fb-2x-image: '/img/sprite@2x.png';
$fb-2x: (114px, 284px, -114px, -284px, 46px, 46px, 446px, 332px, '/img/sprite@2x.png', 'fb@2x', );
$google-2x-name: 'google@2x';
$google-2x-x: 356px;
$google-2x-y: 60px;
$google-2x-offset-x: -356px;
$google-2x-offset-y: -60px;
$google-2x-width: 52px;
$google-2x-height: 52px;
$google-2x-total-width: 446px;
$google-2x-total-height: 332px;
$google-2x-image: '/img/sprite@2x.png';
$google-2x: (356px, 60px, -356px, -60px, 52px, 52px, 446px, 332px, '/img/sprite@2x.png', 'google@2x', );
$ig-2x-name: 'ig@2x';
$ig-2x-x: 58px;
$ig-2x-y: 284px;
$ig-2x-offset-x: -58px;
$ig-2x-offset-y: -284px;
$ig-2x-width: 46px;
$ig-2x-height: 46px;
$ig-2x-total-width: 446px;
$ig-2x-total-height: 332px;
$ig-2x-image: '/img/sprite@2x.png';
$ig-2x: (58px, 284px, -58px, -284px, 46px, 46px, 446px, 332px, '/img/sprite@2x.png', 'ig@2x', );
$leaf-small-2x-name: 'leaf-small@2x';
$leaf-small-2x-x: 352px;
$leaf-small-2x-y: 176px;
$leaf-small-2x-offset-x: -352px;
$leaf-small-2x-offset-y: -176px;
$leaf-small-2x-width: 66px;
$leaf-small-2x-height: 64px;
$leaf-small-2x-total-width: 446px;
$leaf-small-2x-total-height: 332px;
$leaf-small-2x-image: '/img/sprite@2x.png';
$leaf-small-2x: (352px, 176px, -352px, -176px, 66px, 64px, 446px, 332px, '/img/sprite@2x.png', 'leaf-small@2x', );
$leaf-2x-name: 'leaf@2x';
$leaf-2x-x: 0px;
$leaf-2x-y: 176px;
$leaf-2x-offset-x: 0px;
$leaf-2x-offset-y: -176px;
$leaf-2x-width: 102px;
$leaf-2x-height: 98px;
$leaf-2x-total-width: 446px;
$leaf-2x-total-height: 332px;
$leaf-2x-image: '/img/sprite@2x.png';
$leaf-2x: (0px, 176px, 0px, -176px, 102px, 98px, 446px, 332px, '/img/sprite@2x.png', 'leaf@2x', );
$logo-2x-name: 'logo@2x';
$logo-2x-x: 0px;
$logo-2x-y: 0px;
$logo-2x-offset-x: 0px;
$logo-2x-offset-y: 0px;
$logo-2x-width: 446px;
$logo-2x-height: 50px;
$logo-2x-total-width: 446px;
$logo-2x-total-height: 332px;
$logo-2x-image: '/img/sprite@2x.png';
$logo-2x: (0px, 0px, 0px, 0px, 446px, 50px, 446px, 332px, '/img/sprite@2x.png', 'logo@2x', );
$tw-2x-name: 'tw@2x';
$tw-2x-x: 310px;
$tw-2x-y: 128px;
$tw-2x-offset-x: -310px;
$tw-2x-offset-y: -128px;
$tw-2x-width: 48px;
$tw-2x-height: 38px;
$tw-2x-total-width: 446px;
$tw-2x-total-height: 332px;
$tw-2x-image: '/img/sprite@2x.png';
$tw-2x: (310px, 128px, -310px, -128px, 48px, 38px, 446px, 332px, '/img/sprite@2x.png', 'tw@2x', );
$vk-2x-name: 'vk@2x';
$vk-2x-x: 0px;
$vk-2x-y: 284px;
$vk-2x-offset-x: 0px;
$vk-2x-offset-y: -284px;
$vk-2x-width: 48px;
$vk-2x-height: 48px;
$vk-2x-total-width: 446px;
$vk-2x-total-height: 332px;
$vk-2x-image: '/img/sprite@2x.png';
$vk-2x: (0px, 284px, 0px, -284px, 48px, 48px, 446px, 332px, '/img/sprite@2x.png', 'vk@2x', );
$spritesheet-width: 223px;
$spritesheet-height: 166px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($arrow-hover, $arrow-small-hover, $arrow-small, $arrow, $binet, $card, $check, $fb, $google, $ig, $leaf-small, $leaf, $logo, $tw, $vk, );
$spritesheet: (223px, 166px, '/img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 446px;
$retina-spritesheet-height: 332px;
$retina-spritesheet-image: '/img/sprite@2x.png';
$retina-spritesheet-sprites: ($arrow-hover-2x, $arrow-small-hover-2x, $arrow-small-2x, $arrow-2x, $binet-2x, $card-2x, $check-2x, $fb-2x, $google-2x, $ig-2x, $leaf-small-2x, $leaf-2x, $logo-2x, $tw-2x, $vk-2x, );
$retina-spritesheet: (446px, 332px, '/img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$arrow-hover-group-name: 'arrow-hover';
$arrow-hover-group: ('arrow-hover', $arrow-hover, $arrow-hover-2x, );
$arrow-small-hover-group-name: 'arrow-small-hover';
$arrow-small-hover-group: ('arrow-small-hover', $arrow-small-hover, $arrow-small-hover-2x, );
$arrow-small-group-name: 'arrow-small';
$arrow-small-group: ('arrow-small', $arrow-small, $arrow-small-2x, );
$arrow-group-name: 'arrow';
$arrow-group: ('arrow', $arrow, $arrow-2x, );
$binet-group-name: 'binet';
$binet-group: ('binet', $binet, $binet-2x, );
$card-group-name: 'card';
$card-group: ('card', $card, $card-2x, );
$check-group-name: 'check';
$check-group: ('check', $check, $check-2x, );
$fb-group-name: 'fb';
$fb-group: ('fb', $fb, $fb-2x, );
$google-group-name: 'google';
$google-group: ('google', $google, $google-2x, );
$ig-group-name: 'ig';
$ig-group: ('ig', $ig, $ig-2x, );
$leaf-small-group-name: 'leaf-small';
$leaf-small-group: ('leaf-small', $leaf-small, $leaf-small-2x, );
$leaf-group-name: 'leaf';
$leaf-group: ('leaf', $leaf, $leaf-2x, );
$logo-group-name: 'logo';
$logo-group: ('logo', $logo, $logo-2x, );
$tw-group-name: 'tw';
$tw-group: ('tw', $tw, $tw-2x, );
$vk-group-name: 'vk';
$vk-group: ('vk', $vk, $vk-2x, );
$retina-groups: ($arrow-hover-group, $arrow-small-hover-group, $arrow-small-group, $arrow-group, $binet-group, $card-group, $check-group, $fb-group, $google-group, $ig-group, $leaf-small-group, $leaf-group, $logo-group, $tw-group, $vk-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
